[Desktop Entry]
Version=1.0
Name=CityMapper
Comment=CityMapper Paris kiosk
Exec=chromium --new-window --kiosk --app= https://citymapper.com/webapp 
# alternative url https://citymapper.com/paris?lang=fr
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Maps
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Maps;citymapper
# DBusActivatable=true
# MimeType=application/vnd.geo+json;x-scheme-handler/geo;x-scheme-handler/maps;application/vnd.google-earth.kml+xml;application/gpx+xml;
# X-Geoclue-Reason=Allows your location to be shown on the map.
# Translators: Do NOT translate or transliterate this text (these are enum types)!
# X-Purism-FormFactor=Workstation;Mobile;
